myleft.jpg
myright.jpg
template.jpg
ventas.jpg
actualImage.png
RIGHT_COLOR/
LEFT_COLOR/
README CAMERA_CALIBRATION.md
Registro_ventas.docx
queso_cabos.py
xpyramid.py
while_pyramid.py
ventas_reader.py
hello.py
date_sum.py
OOP_1.py
recursive_letter.py
testingpython.py
double_pyramid.py